workflows/Create Deal in ZD by submitted form and map contact.json
{
  "createdAt": "2025-09-03T21:18:16.417Z",
  "updatedAt": "2025-10-24T11:32:25.140Z",
  "id": "J8UbSOdoRSgc0fyE",
  "name": "Create Deal in ZD by submitted form and map contact",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "c5104dfa-45df-4f15-baf1-0d49d1c7e48d",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -384,
        -304
      ],
      "id": "b0875c88-596b-4044-9da6-cf5708c187ce",
      "name": "Form: Fiets inruil",
      "webhookId": "c5104dfa-45df-4f15-baf1-0d49d1c7e48d"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "54869734-c9f4-4ba8-a617-d41c79cd550b",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -384,
        144
      ],
      "id": "b5febbf0-1c7a-4d66-93e0-22a3308483ed",
      "name": "Form: Lease Calculator",
      "webhookId": "54869734-c9f4-4ba8-a617-d41c79cd550b"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "30ce98ae-aae3-4ad1-a2ee-48b33c6d09c5",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -384,
        -80
      ],
      "id": "730bacd9-fd35-47cc-a91c-b52129a601b8",
      "name": "Form: Keuzehulp",
      "webhookId": "30ce98ae-aae3-4ad1-a2ee-48b33c6d09c5"
    },
    {
      "parameters": {
        "url": "https://api.getbase.com/v2/contacts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $json.data.email }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "User-Agent",
              "value": "YourAppName/1.0"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1184,
        144
      ],
      "id": "f26aacd7-1892-4bf9-8d55-cab1b651f6f0",
      "name": "Zendesk: Get contacts",
      "alwaysOutputData": true,
      "credentials": {
        "httpBearerAuth": {
          "id": "LsYF5cN5nkb0vjbk",
          "name": "Zendesk Sell (PROD)"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ffad9e85-2c09-4c23-977c-3c17e772dd54",
              "leftValue": "={{ $json.body.items[0].data }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1408,
        144
      ],
      "id": "8f223669-c55a-4566-9cb2-3be21b8051d6",
      "name": "If contact does not exist"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1856,
        144
      ],
      "id": "d4154ee8-df33-4c37-972f-62ff11260a09",
      "name": "ZD Contact Ref"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"data\": {\n    \"name\": \"{{ $('Start').item.json.form }} - {{ $ifEmpty($('Start').item.json.first_name, \"[UNKNOWN]\") }} {{ $ifEmpty($('Start').item.json.last_name, \"[UNKNOWN]\") }}\",\n    \"contact_id\": {{ $json.data ? $json.data.id : $json.body.items[0].data.id }},\n    \"currency\": \"EUR\",\n    \"stage_id\": {{ $('Globals').item.json.stage_id }},\n    \"source_id\": {{ $('Start').item.json.source_id }},\n    \"tags\": [\"Inruil\"],\n    \"custom_fields\": {\n      \"Details\": {{ $('Start').item.json.Details.toJsonString() }}\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2080,
        144
      ],
      "id": "7f832b1e-60be-4b95-8b12-b6da6c54d781",
      "name": "Prepare fields1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.getbase.com/v2/deals",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "User-Agent",
              "value": "YourAppName/1.0"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.toJsonString().replaceAll(\"\\\\\\\\n\", \"\\\\n\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2304,
        144
      ],
      "id": "91ca17aa-be3a-4de6-a2a9-448f1890c523",
      "name": "Zendesk: Create deal",
      "retryOnFail": false,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpBearerAuth": {
          "id": "LsYF5cN5nkb0vjbk",
          "name": "Zendesk Sell (PROD)"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.getbase.com/v2/contacts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "User-Agent",
              "value": "YourAppName/1.0"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('Wrap in object').item.json.toJsonString() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1632,
        64
      ],
      "id": "6838c4b4-73e5-48a9-be38-85603e4b310e",
      "name": "Zendesk: Create contact",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpBearerAuth": {
          "id": "LsYF5cN5nkb0vjbk",
          "name": "Zendesk Sell (PROD)"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "742e70f9-a0c0-4a73-a018-a5ddb6dc7abf",
              "name": "data",
              "value": "={{ $json }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        144
      ],
      "id": "8662a1d0-bab2-449c-b612-e78e9583abda",
      "name": "Wrap in object"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c1625fcb-74dc-435d-8c5a-076df133ef8a",
              "name": "first_name",
              "value": "={{ $ifEmpty($('Start').item.json.first_name, \"[UNKNOWN]\") }}",
              "type": "string"
            },
            {
              "id": "c42d7ad0-b972-4732-b483-14371b832457",
              "name": "last_name",
              "value": "={{ $ifEmpty($('Start').item.json.last_name, \"[UNKNOWN]\") }}",
              "type": "string"
            },
            {
              "id": "5698bd88-2650-4d4a-b6ea-cd07ed51c5b9",
              "name": "email",
              "value": "={{ $('Start').item.json.email }}",
              "type": "string"
            },
            {
              "id": "61388219-6407-4905-80d1-1db6099edb78",
              "name": "mobile",
              "value": "={{ $('Start').item.json.mobile }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        736,
        144
      ],
      "id": "aaf79900-d437-4e16-bb1c-68fac88b2bb4",
      "name": "Prepare contact"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        288,
        144
      ],
      "id": "81ed5eee-16ec-4165-9df6-0c3bb9b746ba",
      "name": "Start"
    },
    {
      "parameters": {
        "url": "https://api.getbase.com/v2/deal_sources",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "User-Agent",
              "value": "YourAppName/1.0"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        512,
        592
      ],
      "id": "30926852-9c28-4bdd-905c-ee581c5de41c",
      "name": "Zendesk: Get deal_sources",
      "retryOnFail": false,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpBearerAuth": {
          "id": "LsYF5cN5nkb0vjbk",
          "name": "Zendesk Sell (PROD)"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "221086d1-99d6-4fb6-86f9-b93c193fd3ba",
              "name": "stage_id",
              "value": "119627",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        512,
        144
      ],
      "id": "90746c16-e5f3-4865-8f1a-1b1babc0c110",
      "name": "Globals"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3352f940-0bf5-4a73-8d8a-fd85bcb64b04",
              "name": "form",
              "value": "Fiets inruil",
              "type": "string"
            },
            {
              "id": "33512a92-0ac7-459a-a73e-ebfd3441671e",
              "name": "first_name",
              "value": "={{ $json.body['1'] }}",
              "type": "string"
            },
            {
              "id": "5b140476-d99d-45ef-a581-0f42837e10b6",
              "name": "last_name",
              "value": "={{ $json.body['17'] }}",
              "type": "string"
            },
            {
              "id": "c4f6cbc5-4a78-41e1-9d78-708f046cfad1",
              "name": "email",
              "value": "={{ $json.body['3'] }}",
              "type": "string"
            },
            {
              "id": "bddad807-cce1-4b55-9259-7530e0cc8a26",
              "name": "mobile",
              "value": "={{ $json.body['4'] }}",
              "type": "string"
            },
            {
              "id": "50fd5c94-3fe3-452c-a591-661fb6f77358",
              "name": "Details",
              "value": "=Merk & model: {{ $json.body['5'] }}\\nType: {{ $json.body['6.1'] }}\\nBouwjaar: {{ $json.body['7'] }}\\nPrijs: {{ $json.body['8'] }}\\nKm-stand: {{ $json.body['9'] }}\\nIn orde?: {{ $json.body['12.2'] }}\\nDefect: {{ $json.body['14'] }}\\nFactuur?: {{ $json.body['11.1'] }}",
              "type": "string"
            },
            {
              "id": "e03778e4-84fa-4e07-aa65-28882a258dbe",
              "name": "source_id",
              "value": 13096459,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        -304
      ],
      "id": "b18e31c7-f848-4d9d-8e8a-eb11f0f6365b",
      "name": "Map fields"
    },
    {
      "parameters": {
        "url": "https://api.getbase.com/v2/stages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "User-Agent",
              "value": "YourAppName/1.0"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        512,
        368
      ],
      "id": "9a01e448-e666-44d2-a3c9-9ee57debd6f5",
      "name": "Zendesk: Get stages",
      "retryOnFail": false,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpBearerAuth": {
          "id": "LsYF5cN5nkb0vjbk",
          "name": "Zendesk Sell (PROD)"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3352f940-0bf5-4a73-8d8a-fd85bcb64b04",
              "name": "form",
              "value": "Keuzehulp",
              "type": "string"
            },
            {
              "id": "33512a92-0ac7-459a-a73e-ebfd3441671e",
              "name": "first_name",
              "value": "={{ $json.body['voornaam'] }}",
              "type": "string"
            },
            {
              "id": "5b140476-d99d-45ef-a581-0f42837e10b6",
              "name": "last_name",
              "value": "={{ $json.body['achternaam'] }}",
              "type": "string"
            },
            {
              "id": "c4f6cbc5-4a78-41e1-9d78-708f046cfad1",
              "name": "email",
              "value": "={{ $json.body['email'] }}",
              "type": "string"
            },
            {
              "id": "bddad807-cce1-4b55-9259-7530e0cc8a26",
              "name": "mobile",
              "value": "={{ $json.body['telefoon'] }}",
              "type": "string"
            },
            {
              "id": "50fd5c94-3fe3-452c-a591-661fb6f77358",
              "name": "Details",
              "value": "=Type Fiets: {{ $json.body['typefiets'] }}\\nType Motor: {{ $json.body['typemotor'] }}\\nType Accu: {{ $json.body['typeaccu'] }}\\nAandrijving: {{ $json.body['typeaandrijving'] }}\\nZithouding: {{ $json.body['typezithouding'] }}",
              "type": "string"
            },
            {
              "id": "e03778e4-84fa-4e07-aa65-28882a258dbe",
              "name": "source_id",
              "value": 11691077,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        -80
      ],
      "id": "4ab7b004-4a7a-4e19-b36d-8ab0ce53cb3e",
      "name": "Map fields1"
    },
    {
      "parameters": {
        "content": "## Set mapping\nUse nodes below to retrieve the correct IDs.\n\nStage: \"Informatie\"\n\nSources:\n- Fiets inruil = \"Upway aanvraag\"\n- Keuzehulp = \"Keuzehulp\"\n- Lease calculator = \"Lease calculator\"\n",
        "height": 912,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        448,
        -144
      ],
      "typeVersion": 1,
      "id": "7282deef-9a7a-4de6-9ef7-246739fbba01",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3352f940-0bf5-4a73-8d8a-fd85bcb64b04",
              "name": "form",
              "value": "Lease Calculator",
              "type": "string"
            },
            {
              "id": "33512a92-0ac7-459a-a73e-ebfd3441671e",
              "name": "first_name",
              "value": "={{ $json.body['voornaam'] }}",
              "type": "string"
            },
            {
              "id": "5b140476-d99d-45ef-a581-0f42837e10b6",
              "name": "last_name",
              "value": "={{ $json.body['achternaam'] }}",
              "type": "string"
            },
            {
              "id": "c4f6cbc5-4a78-41e1-9d78-708f046cfad1",
              "name": "email",
              "value": "={{ $json.body['email'] }}",
              "type": "string"
            },
            {
              "id": "bddad807-cce1-4b55-9259-7530e0cc8a26",
              "name": "mobile",
              "value": "={{ $json.body['telefoon'] }}",
              "type": "string"
            },
            {
              "id": "50fd5c94-3fe3-452c-a591-661fb6f77358",
              "name": "Details",
              "value": "=Merk: {{ $json.body['keuze_merk'] }}\\nModel: {{ $json.body['keuze_model'] }}\\nTermijn: {{ $json.body['keuze_termijn_nice'] }}\\nAard: {{ $json.body['keuze_aard'] }}\\nUitvoering: {{ $json.body['keuze_uitvoering_nice'] }}\\nAanbetaling: {{ $json.body['keuze_aanbetaling'] }}\\nMaandbedrag: €{{ $json.body['maandbedrag'] }}",
              "type": "string"
            },
            {
              "id": "e03778e4-84fa-4e07-aa65-28882a258dbe",
              "name": "source_id",
              "value": 11691078,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        144
      ],
      "id": "d0ae92c7-547d-41b9-85a3-8f550f133e8f",
      "name": "Map fields2"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "f3e3a305-5ce3-4970-86b5-b0c26fb129e0",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -384,
        480
      ],
      "id": "7bfde6df-6dd5-4544-9d2a-1a90926a2d1a",
      "name": "Form: Proefrit",
      "webhookId": "f3e3a305-5ce3-4970-86b5-b0c26fb129e0"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.html }}",
                    "rightValue": "Beste QicQ",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    },
                    "id": "e1126a6e-e046-466b-93d2-092b9b999a6e"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7f869dc1-9513-4805-bc71-60978aa44288",
                    "leftValue": "={{ $json.body.html }}",
                    "rightValue": "<p>Hallo Team QicQ - Lisa,</p>",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -160,
        480
      ],
      "id": "1bb37b96-40e4-48bb-8f31-f6759d0529d6",
      "name": "Switch between different sub-forms"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "00398cf5-469b-4af5-a069-e3c06a221eea",
              "name": "form",
              "value": "Proefrit",
              "type": "string"
            },
            {
              "id": "0172e73c-272f-4a79-a0c5-feb53f924a21",
              "name": "first_name",
              "value": "={{ ($json[\"body\"][\"html\"].match(/Naam:<\\/b><br>(.*?)<br>/s)?.[1]?.trim().split(/\\s+/)[0]) || null }}",
              "type": "string"
            },
            {
              "id": "dd487e6d-5855-4ff8-be96-c2eae9eba9be",
              "name": "last_name",
              "value": "={{ ($json[\"body\"][\"html\"].match(/Naam:<\\/b><br>(.*?)<br>/s)?.[1]?.trim().split(/\\s+/).slice(1).join(\" \")) || null }}",
              "type": "string"
            },
            {
              "id": "6ad9e65d-d095-4fc7-a5c4-347275cf3017",
              "name": "email",
              "value": "={{ $json[\"body\"][\"html\"].match(/Email Adres:<\\/b><br>(.*?)<br>/s)[1] }}",
              "type": "string"
            },
            {
              "id": "b0aa695c-b053-41ba-9c2f-5089aa71a5b1",
              "name": "mobile",
              "value": "={{ $json[\"body\"][\"html\"].match(/Telefoon:<\\/b><br>(.*?)<br>/s)[1] }}",
              "type": "string"
            },
            {
              "id": "5fc06785-12fb-4b80-a0d5-50d6d228f6ea",
              "name": "Details",
              "value": "={{ $if($json[\"body\"][\"html\"].match(/Bedrijfsnaam:<\\/b><br>(.*?)<br>/s)[1] == \"\", \"\", \"Bedrijfsnaam: \" + $json[\"body\"][\"html\"].match(/Bedrijfsnaam:<\\/b><br>(.*?)<br>/s)[1] + \"\\n\") }}Aanvullende info: {{ $json[\"body\"][\"html\"].match(/Aanvullende info:<\\/b><br>(.*?)$/s)[1] }}",
              "type": "string"
            },
            {
              "id": "b91da055-e004-445c-96f7-0163e3ff0934",
              "name": "source_id",
              "value": 11705431,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        368
      ],
      "id": "6eff3a7a-340d-4bcc-ae92-8d85bb0ee85e",
      "name": "Map fields3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "00398cf5-469b-4af5-a069-e3c06a221eea",
              "name": "form",
              "value": "Proefrit",
              "type": "string"
            },
            {
              "id": "0172e73c-272f-4a79-a0c5-feb53f924a21",
              "name": "first_name",
              "value": "={{ ($json[\"body\"][\"html\"].match(/Klantnaam:\\s*(.*?)<br/si)?.[1]?.trim().split(/\\s+/)[0]) || null }}",
              "type": "string"
            },
            {
              "id": "dd487e6d-5855-4ff8-be96-c2eae9eba9be",
              "name": "last_name",
              "value": "={{ ($json[\"body\"][\"html\"].match(/Klantnaam:\\s*(.*?)<br/si)?.[1]?.trim().split(/\\s+/).slice(1).join(\" \")) || null }}",
              "type": "string"
            },
            {
              "id": "6ad9e65d-d095-4fc7-a5c4-347275cf3017",
              "name": "email",
              "value": "={{ $json[\"body\"][\"html\"].match(/Klant e-mail:\\s*(.*?)<\\/p>/si)?.[1]?.trim() || null }}",
              "type": "string"
            },
            {
              "id": "b0aa695c-b053-41ba-9c2f-5089aa71a5b1",
              "name": "mobile",
              "value": "={{ $json[\"body\"][\"html\"].match(/Klant telefoon:\\s*(.*?)<br/si)?.[1]?.trim() || \"<EMPTY>\" }}",
              "type": "string"
            },
            {
              "id": "5fc06785-12fb-4b80-a0d5-50d6d228f6ea",
              "name": "Details",
              "value": "=Dienst: {{ $json[\"body\"][\"html\"].match(/Dienst:\\s*(.*?)<br/si)?.[1]?.trim() || \"<EMPTY>\" }}\\nOpmerkingen: {{ $json[\"body\"][\"html\"].match(/Opmerkingen:\\s*(.*?)<\\/p>/si)?.[1]?.trim() || \"<EMPTY>\" }}",
              "type": "string"
            },
            {
              "id": "b91da055-e004-445c-96f7-0163e3ff0934",
              "name": "source_id",
              "value": 11705431,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        592
      ],
      "id": "82dfc385-08b6-43f0-ac17-cc916ef28365",
      "name": "Map fields4"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -336,
        704
      ],
      "id": "21a74796-2980-481e-9fca-86f61c92bf03",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "connections": {
    "Form: Fiets inruil": {
      "main": [
        [
          {
            "node": "Map fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form: Keuzehulp": {
      "main": [
        [
          {
            "node": "Map fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form: Lease Calculator": {
      "main": [
        [
          {
            "node": "Map fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zendesk: Get contacts": {
      "main": [
        [
          {
            "node": "If contact does not exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If contact does not exist": {
      "main": [
        [
          {
            "node": "Zendesk: Create contact",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ZD Contact Ref",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ZD Contact Ref": {
      "main": [
        [
          {
            "node": "Prepare fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare fields1": {
      "main": [
        [
          {
            "node": "Zendesk: Create deal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zendesk: Create contact": {
      "main": [
        [
          {
            "node": "ZD Contact Ref",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wrap in object": {
      "main": [
        [
          {
            "node": "Zendesk: Get contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare contact": {
      "main": [
        [
          {
            "node": "Wrap in object",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Globals": {
      "main": [
        [
          {
            "node": "Prepare contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map fields": {
      "main": [
        [
          {
            "node": "Start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map fields1": {
      "main": [
        [
          {
            "node": "Start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map fields2": {
      "main": [
        [
          {
            "node": "Start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch between different sub-forms": {
      "main": [
        [
          {
            "node": "Map fields3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Map fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form: Proefrit": {
      "main": [
        [
          {
            "node": "Switch between different sub-forms",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map fields3": {
      "main": [
        [
          {
            "node": "Start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map fields4": {
      "main": [
        [
          {
            "node": "Start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Map fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "ucevxHAU6iRAZOr1",
    "callerPolicy": "workflowsFromSameOwner",
    "timeSavedPerExecution": 2
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Form: Fiets inruil": [
      {
        "json": {
          "headers": {
            "host": "n8n-u47189.vm.elestio.app",
            "x-real-ip": "45.152.249.3",
            "x-forwarded-for": "45.152.249.3",
            "x-forwarded-proto": "https",
            "x-forwarded-port": "443",
            "connection": "close",
            "content-length": "813",
            "user-agent": "WordPress/6.8.2; https://www.qicq.nl",
            "accept": "*/*",
            "accept-encoding": "deflate, gzip",
            "content-type": "application/json"
          },
          "params": {},
          "query": {},
          "body": {
            "1": "Test",
            "3": "info@octionic.com",
            "4": "+491234567890",
            "5": "pedelec",
            "7": "gekocht",
            "8": "fiets",
            "9": "display",
            "14": "kapot",
            "16": "",
            "17": "octionic",
            "id": "1876",
            "form_id": "11",
            "post_id": null,
            "date_created": "2025-08-25 17:57:57",
            "date_updated": "2025-08-25 17:57:57",
            "is_starred": "0",
            "is_read": "0",
            "ip": "87.122.121.207",
            "source_url": "https://www.qicq.nl/elektrische-fiets-inruilen/",
            "user_agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/139.0.0.0 Safari/537.36",
            "currency": "EUR",
            "payment_status": null,
            "payment_date": null,
            "payment_amount": null,
            "payment_method": null,
            "transaction_id": null,
            "is_fulfilled": null,
            "created_by": "30",
            "transaction_type": null,
            "status": "active",
            "source_id": "4915",
            "6.1": "E-bike",
            "12.2": "Nee",
            "11.1": "Ja",
            "6.2": "",
            "12.1": "",
            "11.2": ""
          },
          "webhookUrl": "https://n8n-u47189.vm.elestio.app/webhook/c5104dfa-45df-4f15-baf1-0d49d1c7e48d",
          "executionMode": "production"
        }
      }
    ],
    "Form: Lease Calculator": [
      {
        "json": {
          "headers": {
            "host": "n8n-u47189.vm.elestio.app",
            "x-real-ip": "45.152.249.3",
            "x-forwarded-for": "45.152.249.3",
            "x-forwarded-proto": "https",
            "x-forwarded-port": "443",
            "connection": "close",
            "content-length": "295",
            "accept": "*/*",
            "content-type": "application/json"
          },
          "params": {},
          "query": {},
          "body": {
            "voornaam": "Leon",
            "achternaam": "Lehmler",
            "email": "leon_lehmler@live.nl",
            "telefoon": "",
            "keuze_merk": "Riese & Müller",
            "keuze_model": "4158",
            "keuze_termijn_nice": "36 maanden",
            "keuze_aard": "Particulier",
            "keuze_uitvoering_nice": "Charger4 GT Vario",
            "keuze_aanbetaling": "geen",
            "maandbedrag": "184"
          },
          "webhookUrl": "https://n8n-u47189.vm.elestio.app/webhook/54869734-c9f4-4ba8-a617-d41c79cd550b",
          "executionMode": "production"
        }
      }
    ],
    "Form: Keuzehulp": [
      {
        "json": {
          "headers": {
            "host": "n8n-u47189.vm.elestio.app",
            "x-real-ip": "45.152.249.3",
            "x-forwarded-for": "45.152.249.3",
            "x-forwarded-proto": "https",
            "x-forwarded-port": "443",
            "connection": "close",
            "content-length": "242",
            "accept": "*/*",
            "content-type": "application/json"
          },
          "params": {},
          "query": {},
          "body": {
            "voornaam": "Hans",
            "achternaam": "Eijgenram",
            "email": "hans_eijgenraam@planet.nl",
            "telefoon": "",
            "typefiets": "elektrische-fiets",
            "typemotor": "middenmotor",
            "typeaccu": "500-wh-2",
            "typeaandrijving": "riem",
            "typezithouding": "comfortabele-zithouding"
          },
          "webhookUrl": "https://n8n-u47189.vm.elestio.app/webhook/30ce98ae-aae3-4ad1-a2ee-48b33c6d09c5",
          "executionMode": "production"
        }
      }
    ],
    "Map fields1": [
      {
        "json": {
          "form": "Keuzehulp",
          "first_name": "Hans",
          "last_name": "Eijgenram",
          "email": "hans_eijgenraam@planet.nl",
          "mobile": "",
          "Details": "Type Fiets: elektrische-fiets\\nType Motor: middenmotor\\nType Accu: 500-wh-2\\nAandrijving: riem\\nZithouding: comfortabele-zithouding",
          "source_id": 14495000
        }
      }
    ],
    "Map fields": [
      {
        "json": {
          "form": "Fiets inruil",
          "first_name": "Test",
          "last_name": "octionic",
          "email": "info@octionic.com",
          "mobile": "+491234567890",
          "Details": "Merk & model: pedelec\\nType: E-bike\\nBouwjaar: gekocht\\nPrijs: fiets\\nKm-stand: display\\nIn orde?: Nee\\nDefect: kapot\\nFactuur?: Ja",
          "source_id": 13096459
        }
      }
    ],
    "Map fields2": [
      {
        "json": {
          "form": "Lease Calculator",
          "first_name": "",
          "last_name": "",
          "email": "sandyjsmit@hotmail.com",
          "mobile": "",
          "Details": "Merk: Lovens\\nModel: 5451\\nTermijn: 36 maanden\\nAard: Zakelijk\\nUitvoering: Lovens Explorer S75\\nAanbetaling: plus_250\\nMaandbedrag: €131.40495867769",
          "source_id": 14494999
        }
      }
    ],
    "Map fields3": [
      {
        "json": {
          "form": "Proefrit",
          "first_name": "Tommy",
          "last_name": null,
          "email": "Tommy@qicq.nl",
          "mobile": "0612453625",
          "Details": "Aanvullende info: test",
          "source_id": 11705431
        }
      }
    ],
    "Form: Proefrit": [
      {
        "json": {
          "headers": {
            "host": "n8n-u47189.vm.elestio.app",
            "x-real-ip": "18.212.146.147",
            "x-forwarded-for": "18.212.146.147",
            "x-forwarded-proto": "https",
            "x-forwarded-port": "443",
            "connection": "close",
            "content-length": "20553",
            "user-agent": "CloudMailin Server",
            "content-type": "multipart/form-data; boundary=----cloudmailinboundry",
            "accept-encoding": "gzip, compressed"
          },
          "params": {},
          "query": {},
          "body": {
            "plain": "",
            "html": "<p>Hallo Team QicQ - Lisa,</p>\n<p>Je hebt een nieuwe reservering binnengekregen:</p>\n<p>Dienst: Stromer ST1<br />\nDatum: 29 oktober 2025<br />\nTijd: 09:30<br />\nOpmerkingen: Test</p>\n<p>Klantnaam: Tommy Oude Elferink<br />\nKlant telefoon: +31646210631<br />\nKlant e-mail: tommy@qicq.nl</p>\n\n",
            "reply_plain": "",
            "headers[return_path]": "qicqcpanel@s1128.hostingsecure.com",
            "headers[received][0]": "by mail-pl1-f178.google.com with SMTP id d9443c01a7336-27d4d6b7ab5so12753355ad.2        for <b273b0142dcf25b377b9@cloudmailin.net>; Thu, 23 Oct 2025 07:37:04 -0700",
            "headers[received][1]": "by 2002:a05:6a10:e816:b0:670:fbc6:1a22 with SMTP id gk22csp3959584pxb;\r\n        Thu, 23 Oct 2025 07:37:02 -0700 (PDT)",
            "headers[received][2]": "from mail-sor-f41.google.com (mail-sor-f41.google.com. [209.85.220.41])        by mx.google.com with SMTPS id a640c23a62f3a-b6d50dbd06bsor93896566b.0.2025.10.23.07.37.02        for <dave@qicq.nl>        (Google Transport Security); Thu, 23 Oct 2025 07:37:02 -0700",
            "headers[received][3]": "by 2002:a17:907:3ea8:b0:b62:530a:d8a with SMTP id hs40csp5040681ejc;\r\n        Thu, 23 Oct 2025 07:37:00 -0700 (PDT)",
            "headers[received][4]": "from out13-11.antispamcloud.com (out13-11.antispamcloud.com. [185.201.17.11])        by mx.google.com with ESMTPS id a640c23a62f3a-b6d513f7305si125635866b.261.2025.10.23.07.37.00        for <lisa@qicq.nl>        (version=TLS1_3 cipher=TLS_AES_256_GCM_SHA384 bits=256/256); Thu, 23 Oct 2025 07:37:00 -0700",
            "headers[received][5]": "from s1128.hostingsecure.com ([45.152.249.3])\tby mx295.antispamcloud.com with esmtps  (TLS1.3) tls TLS_AES_256_GCM_SHA384\t(Exim 4.94.2)\t(envelope-from <qicqcpanel@s1128.hostingsecure.com>)\tid 1vBwQw-008hOv-Tp\tfor lisa@qicq.nl; Thu, 23 Oct 2025 16:36:59 +0200",
            "headers[received][6]": "from qicqcpanel by s1128.hostingsecure.com with local (Exim 4.98.2)\t(envelope-from <qicqcpanel@s1128.hostingsecure.com>)\tid 1vBwQw-0000000006r-0eoW\tfor lisa@qicq.nl; Thu, 23 Oct 2025 16:36:54 +0200",
            "headers[date]": "Thu, 23 Oct 2025 14:36:54 +0000",
            "headers[from]": "QicQ <info@qicq.nl>",
            "headers[reply_to]": "Tommy Oude Elferink <tommy@qicq.nl>",
            "headers[to]": "lisa@qicq.nl",
            "headers[message_id]": "<ilOUtHkIRlyX3fcP2VqRiR1X8Ekwnw9ZXWatIQAmI@www.qicq.nl>",
            "headers[subject]": "Nieuwe reserveringsinformatie",
            "headers[mime_version]": "1.0",
            "headers[content_type]": "text/html; charset=utf-8",
            "headers[arc_seal][0]": "i=4; a=rsa-sha256; t=1761230224; cv=pass;        d=google.com; s=arc-20240605;        b=GlbvEnXZBT5eHDNh4ZEqfVkuzTael7LgrM4RIDg58Suzni/W0R5eADP0UUnQFnh9Jc         EZs2a1tTBiXIcBRsRNudcuipH2M+mJ0vyyY7jxp5QHX3sx+eWVw2POHKQLdqIMyxzqK7         gDFtXMy2GYrWUFl+htGqMqixz6YyAas+3qksDJoBxg1PqKePjKAVnTgEYXtwUwhWnocu         RKCOWLEkRyv0xlKitW6CaVj8w1YgOzYj5sFNXIgHO+5dq72ZAK/ZGIuC36sNEXJjzOVd         MUfZmA77Zw5j9dcQ+QJp+8YhTYhLsf5Ta3DYBZnwO4qyQTEA3PXCKSM3ohyVLKgLUuNr         Vckg==",
            "headers[arc_seal][1]": "i=3; a=rsa-sha256; t=1761230222; cv=pass;        d=google.com; s=arc-20240605;        b=ChW9LPy/RLh26fzGL7S6tr8KYDtvCvOXAngX0Gbo9ZK4c4WV5Qw/iTe21Zix4LAcjY         IgBtU2enFsr0CXSGX4nmFtlC4zoVxTJXR+a5Raflzj7uyG6kXcpW+02FjByCx2/ZGiMI         VA2Lv572ZxhaIClrQV+fNycDXJW62s6KlkB1rQjmvVzFYZnaIhh/MGJu5rriw6XJW82D         0+sz8igeJccgYoSEYmaHc1PYFxAZUkRRei07NvlZFMuGD6yseRDFzBZIO8OLCQcKq2jk         3Vy/NplKJbeXOrGZTiSaQNOx8g4G6DMp1sCMhw1OsqoCvwps5SPU/NjzPjcbFO18kgff         rbjw==",
            "headers[arc_seal][2]": "i=2; a=rsa-sha256; t=1761230222; cv=pass;        d=google.com; s=arc-20240605;        b=JUMtB1mVMgdO9yIRKYe8qcMynnejCIJVbLhd2mh8QHorA84hn7PSS2jROm/SudQbIs         DRJEDLVqkxVcLGyW+ljW+YKyp63zI8QN5VAEpCHb/gxXV6gT36+qNSSe8S7zGGR5tL4o         HLFvATqLplZpXG28uWE1p65u79kL+ANEPrErPiyi3DCHR7NU18GZY6z0oDD9U5vD2JLo         T9UXCZ1w632HegRWshZ0O3cndZ5hLBHadManotqZTl3u+/Y0lQVKxH0fyNiVPhDKGpKc         DnozFCyRkGVxdQZ1S62GcHG2qlucrNqd3XOl3wFmy45/irWd+N0+oKC9IfvTNHDWwD+z         Ml3g==",
            "headers[arc_seal][3]": "i=1; a=rsa-sha256; t=1761230220; cv=none;        d=google.com; s=arc-20240605;        b=YzCyIj06sqI7SeyJFbXpEfyYtEcwBVfibVtI6SKTOe/bmRrr2iKvQ07I35uVcQCnJo         Zhd4lsFUJgghsMH2BCVwDtBWkmDhdYQ/hC0UUK87/HZtyVnPET0iO2imbm3vqoLq8Gpn         ozNZ80E/HEgO82V4RqOLmwFEvnVh4o5DDAgkmRRu0lP5CiHOXK9JFvbBfSyTpwRGpZDM         +GfYMFwQWA/Cs2Jr8Zv9+34iO5/HTB87+TeoFtnqvfSUwTC2yoQCJd95q23TpeD0SUnD         YxgTZbuWnxhq/SdZ+t5NUOofWLtY+81l0/06tqShuQhAqbYHQbfl1naAil6rlba6GPP8         MADQ==",
            "headers[arc_message_signature][0]": "i=4; a=rsa-sha256; c=relaxed/relaxed; d=google.com; s=arc-20240605;        h=mime-version:message-id:reply-to:from:date:subject:to         :dkim-signature:delivered-to:delivered-to;        bh=w/5aQm3/Dt5G3/N+ruZdZRKx6p5EL9N8k1zMs8JeYqA=;        fh=WcvC8N14/lRgy01WUmnQZ5W1NsF4AMc7ceR38b2GD4s=;        b=V42eYyoBCEHesKuKKrC4Dp7hpIbjZgUrGKtV8xDdGzmmfrXuI3jf4+onAtBp0rOEeK         2DB11JOlG9x++LNj0TKQvNiQJPl6827Xm+yQUPWiZ2H/iM3TDbZ8DGzFahsaTYmteCDj         9uueLvJu+VdzxLj/2ZMnvMcCdLFRwIgkQO20Vz4YOJRByvKMb3Ji7yWZAcn2tTdH8BiU         998aLIpWbaBS9dyfLe2SQPNfbvH09ZgZisMjd0T47Dy/HQFmnrTqNnnLErEoxlFe5PbL         l1q3wq7IGANmsKVg9e6gO7UMKMdX6mHHYHFEE7FszhhpSbwLsu6zObv4aIgQJqmgpD4v         UVaw==;        darn=cloudmailin.net",
            "headers[arc_message_signature][1]": "i=3; a=rsa-sha256; c=relaxed/relaxed; d=google.com; s=arc-20240605;        h=mime-version:message-id:reply-to:from:date:subject:to         :dkim-signature:delivered-to;        bh=w/5aQm3/Dt5G3/N+ruZdZRKx6p5EL9N8k1zMs8JeYqA=;        fh=X1F8RXstOK9yTIe2oWyIN+BgO4NNF7MJrb0hlVb0KeI=;        b=HrF9qnww+l+id3cGwN9gOLREzYHxYHhNbe7md8+0T/Izw88KP2zZzjYT5YS6NvYlie         spnrP5tf5sDsRN5CWtnDLBqXvOZ9UbDbWFxxeeyzIKq+4y2dqZ01/0dZ6yqsTsOSsGgS         9UYQ0yHOWL+nEruEY2ZGtI1YilLMlR3/6qWgx9Rrjr+BA7pK/u0zLUC4PVpxrpU4i3NU         YDwSdzJ4TTVoYFL7B9O3Ea848Zaepg/vPREKTyo1ELN5RkDMNqGuzkXFF00G22SXJD8+         kTY7dwEOsQ42xywdJdseo40Pf0wWfN/jl60ZcP9+cNne1MnhC2BBurG1Dh7w24MvuPVO         LhYw==;        dara=google.com",
            "headers[arc_message_signature][2]": "i=2; a=rsa-sha256; c=relaxed/relaxed; d=google.com; s=arc-20240605;        h=mime-version:message-id:reply-to:from:date:subject:to         :dkim-signature:delivered-to;        bh=w/5aQm3/Dt5G3/N+ruZdZRKx6p5EL9N8k1zMs8JeYqA=;        fh=X1F8RXstOK9yTIe2oWyIN+BgO4NNF7MJrb0hlVb0KeI=;        b=J7iyUWu95b4Mk6I0dAoMucp2V6/XNUFoWiNbWDEHEsyolQnL3K0ySGGsrK1CWwQ017         3jzfDR0KLOiX7chBw6ldg8ou6QsHkGeXXIwB+evMiU/2Fc+5BLxh263Rvbur+UDRvuLC         hukh+AVtzi+fh9DSaCC+358ZHJwfvaI4kkngY5vYF9ydxrK/rFrRFLqlRlc9EmFRJUiq         7TG7bmXRPaHQNxntzJh74LI0m5R9QQ10PWsVa9Psis+jLAjYQnygZqn+jVClczf+K29n         qezMqa2d2O0XBm4akuPxr6ex4ckEm/97ZpIIBrUxqQ3CoeNLhsgcLhCQvIKtRPCvHnfN         z8lA==;        darn=qicq.nl",
            "headers[arc_message_signature][3]": "i=1; a=rsa-sha256; c=relaxed/relaxed; d=google.com; s=arc-20240605;        h=mime-version:message-id:reply-to:from:date:subject:to         :dkim-signature;        bh=w/5aQm3/Dt5G3/N+ruZdZRKx6p5EL9N8k1zMs8JeYqA=;        fh=nF4RpCXRY7mkakk90ptFnWNovJo1TMlKovK0LL2xCcQ=;        b=ZTLJtX+lg6Fgik68QYhfuoKKJDG279LWtKIbISp6dkRoY+sv5UXU8xRSjKdpO0w1V7         RPmfYzzTGsIs4I5s+rZ81Iq2B9IbAyMzJIvUs9/qi0Ychb1fYKbw6xWRMGuZFUx6Kut2         Qj0qBX96YHCHtXNh13ZQZ/LWQZKGa0lUg8MleLuV8GHzC0zIWCP1v1WBZ3W+ropyyQIl         BiapyQuljndLJ5rLUhDXbfAy4RTelRcVR/HabibQSEhSa7k30nkrXi54opW7MupFIK/C         3rlam3O36IAT7VTUO5DeOqwD/wUWMahF4Xt1b+q8ne0TCQh8Zt/3kvv1wEATHiGIIevE         1FGQ==;        dara=google.com",
            "headers[arc_authentication_results][0]": "i=4; mx.google.com;       dkim=pass header.i=@qicq.nl header.s=default header.b=l+WEqGXn;       arc=pass (i=2 spf=pass spfdomain=s1128.hostingsecure.com dkim=pass dkdomain=qicq.nl dmarc=pass fromdomain=qicq.nl);       spf=pass (google.com: domain of lisa+caf_=dave=qicq.nl@qicq.nl designates 209.85.220.41 as permitted sender) smtp.mailfrom=\"lisa+caf_=dave=qicq.nl@qicq.nl\";       dmarc=pass (p=NONE sp=NONE dis=NONE) header.from=qicq.nl;       dara=neutral header.i=@qicq.nl",
            "headers[arc_authentication_results][1]": "i=3; mx.google.com;       dkim=pass header.i=@qicq.nl header.s=default header.b=l+WEqGXn;       arc=pass (i=2 spf=pass spfdomain=s1128.hostingsecure.com dkim=pass dkdomain=qicq.nl dmarc=pass fromdomain=qicq.nl);       spf=pass (google.com: domain of lisa+caf_=dave=qicq.nl@qicq.nl designates 209.85.220.41 as permitted sender) smtp.mailfrom=\"lisa+caf_=dave=qicq.nl@qicq.nl\";       dmarc=pass (p=NONE sp=NONE dis=NONE) header.from=qicq.nl;       dara=neutral header.i=@qicq.nl",
            "headers[arc_authentication_results][2]": "i=2; mx.google.com;       dkim=pass header.i=@qicq.nl header.s=default header.b=l+WEqGXn;       spf=pass (google.com: domain of qicqcpanel@s1128.hostingsecure.com designates 185.201.17.11 as permitted sender) smtp.mailfrom=qicqcpanel@s1128.hostingsecure.com;       dmarc=pass (p=NONE sp=NONE dis=NONE) header.from=qicq.nl",
            "headers[arc_authentication_results][3]": "i=1; mx.google.com;       dkim=pass header.i=@qicq.nl header.s=default header.b=l+WEqGXn;       spf=pass (google.com: domain of qicqcpanel@s1128.hostingsecure.com designates 185.201.17.11 as permitted sender) smtp.mailfrom=qicqcpanel@s1128.hostingsecure.com;       dmarc=pass (p=NONE sp=NONE dis=NONE) header.from=qicq.nl",
            "headers[x_google_dkim_signature]": "v=1; a=rsa-sha256; c=relaxed/relaxed;        d=1e100.net; s=20230601; t=1761230224; x=1761835024;        h=mime-version:message-id:reply-to:from:date:subject:to         :dkim-signature:delivered-to:x-forwarded-to:delivered-to         :x-forwarded-for:x-forwarded-to:x-gm-message-state:from:to:cc         :subject:date:message-id:reply-to;        bh=w/5aQm3/Dt5G3/N+ruZdZRKx6p5EL9N8k1zMs8JeYqA=;        b=T5SnFRYZ52K6r/qw8JxmobGhzdLfa2/8AbK0VU36tT1oZDx+aQoD53fDwe2oCXAwGT         VfXmQJypq+MfKdS9Usee1Dl6SwOk+PUYXKIqhBXECx3W2EQ1YmMISLKk3JVsis6IH8Km         9NIq54J810HfJv6C3v122WuWq4RFRuc31xBZwkBjvmRc7pa7r4+aDBUPosUHb787aspK         CgOVfkC/17EvL156Lmsgy9cj/s4euKiForBoufJlROdACCl4T40lxepHuAVTkevESxvW         y4wKz7EwgZ0z9IdDKa3lkwRY8BEFWsG9ZWf44vslayrSFPe2VR7y7xuHFWI4wsIwIr2g         aH2A==",
            "headers[x_forwarded_encrypted][0]": "i=4; AJvYcCUam3uH5iMLYVptBMlrhLPqsg/EpgGbvSybKRXLE1atjZp3Drs3dMv87hrYuq2ULX4T8j5KbLyna6yiHPdv5q1JYtXsWQ==@cloudmailin.net",
            "headers[x_forwarded_encrypted][1]": "i=4; AJvYcCU+cSwDH4J3kcqeX9A6GpLPyL1+CanwoQrkPWpA8tGD3iftv4CAQYpEq4hi8LHiQ4bSag+n@qicq.nl",
            "headers[x_forwarded_encrypted][2]": "i=2; AJvYcCVJ9Wb/HGSE8e5Ysl3LBh+2kxjbrGofPvQMxzufrTrkfremmT7FMKQKL9gh5Go+09BEzUt8@qicq.nl",
            "headers[x_gm_message_state]": "AOJu0YyJZVu2iiKQONybvQJeFS5MEeGYlHxtRjcAEUo9oHter5KlbNG/\tCBdEz+Rt7yTKOVsyR1AuZ60Jfu63Khydj3Io135IV73BTq4/Gaeyq3Ig07k0ECu54UqEixatdEO\tmDKPBK5jroEo1LPXFqcda+I7p+Ck0qmMSr/sDUso252B3k2k5T6og5oBtjd1Ld+W0a8FPlQd76W\t/tiLsK",
            "headers[x_received][0]": "by 2002:a17:903:15ce:b0:290:b53b:7456 with SMTP id d9443c01a7336-290c9c93d46mr296083095ad.5.1761230224114;        Thu, 23 Oct 2025 07:37:04 -0700 (PDT)",
            "headers[x_received][1]": "by 2002:a17:906:fa03:b0:b6d:2773:3dcb with SMTP id a640c23a62f3a-b6d277343c4mr773508066b.14.1761230222579;        Thu, 23 Oct 2025 07:37:02 -0700 (PDT)",
            "headers[x_received][2]": "by 2002:a17:907:3f12:b0:b6d:5718:d42d with SMTP id a640c23a62f3a-b6d5718d6c6mr228814166b.50.1761230221856;        Thu, 23 Oct 2025 07:37:01 -0700 (PDT)",
            "headers[x_received][3]": "by 2002:a17:906:e08e:b0:b64:a612:b52e with SMTP id a640c23a62f3a-b64a612b98dmr2277080566b.30.1761230220483;        Thu, 23 Oct 2025 07:37:00 -0700 (PDT)",
            "headers[x_forwarded_to][0]": "b273b0142dcf25b377b9@cloudmailin.net",
            "headers[x_forwarded_to][1]": "dave@qicq.nl",
            "headers[x_forwarded_for]": "dave@qicq.nl b273b0142dcf25b377b9@cloudmailin.net",
            "headers[delivered_to][0]": "dave@qicq.nl",
            "headers[delivered_to][1]": "lisa@qicq.nl",
            "headers[received_spf][0]": "pass (google.com: domain of lisa+caf_=dave=qicq.nl@qicq.nl designates 209.85.220.41 as permitted sender) client-ip=209.85.220.41;",
            "headers[received_spf][1]": "pass (google.com: domain of qicqcpanel@s1128.hostingsecure.com designates 185.201.17.11 as permitted sender) client-ip=185.201.17.11;",
            "headers[authentication_results][0]": "mx.google.com;       dkim=pass header.i=@qicq.nl header.s=default header.b=l+WEqGXn;       arc=pass (i=2 spf=pass spfdomain=s1128.hostingsecure.com dkim=pass dkdomain=qicq.nl dmarc=pass fromdomain=qicq.nl);       spf=pass (google.com: domain of lisa+caf_=dave=qicq.nl@qicq.nl designates 209.85.220.41 as permitted sender) smtp.mailfrom=\"lisa+caf_=dave=qicq.nl@qicq.nl\";       dmarc=pass (p=NONE sp=NONE dis=NONE) header.from=qicq.nl;       dara=neutral header.i=@qicq.nl",
            "headers[authentication_results][1]": "antispamcloud.com; auth=pass smtp.auth=45.152.249.3@s1128.hostingsecure.com",
            "headers[x_x_forwarded_for]": "lisa@qicq.nl dave@qicq.nl",
            "headers[x_google_smtp_source]": "AGHT+IH9cafITMiFPNbwnFBhOwCyL977Mcbtxzg9VaEcNmxG4FrLkxKYZ7n7nwkoSrnQ76L1iAST",
            "headers[dkim_signature]": "v=1; a=rsa-sha256; q=dns/txt; c=relaxed/relaxed; d=qicq.nl;\ts=default; h=Content-Type:MIME-Version:Message-ID:Reply-To:From:Date:Subject:\tTo:Sender:Cc:Content-Transfer-Encoding:Content-ID:Content-Description:\tResent-Date:Resent-From:Resent-Sender:Resent-To:Resent-Cc:Resent-Message-ID:\tIn-Reply-To:References:List-Id:List-Help:List-Unsubscribe:List-Subscribe:\tList-Post:List-Owner:List-Archive;\tbh=w/5aQm3/Dt5G3/N+ruZdZRKx6p5EL9N8k1zMs8JeYqA=; b=l+WEqGXn5AhjZ4/Gf9rY2T3nFI\ts6EgWITpnTWtldRg+gyxacBqjX9o+qpiAcC3DJM65x9kkgsTKxeUXIR/WjXAqWy52M5TZ1cVgNvRm\tJh1cIDwqaITNU0QoMOOXV8xnehRljIeEYVmMu3C/zfRZ1WOXoFrWP5IN+bDT/2QayEeTiqZcJ7Qfx\t3uulhX7B0sNLQEhwrNCFAU5KnB8x4nbVkhPlyPSGjpZ3WtcqMCBngAv/RSM+5ExUBublMqNkgZVk1\t53/7ax8pHML+aK4btZiaEMZXGvtk/9lyFLuBzHxbgle+HEaNOUtT1rTurk7G0u/tsbDvm6j8Mo459\toCM3Rtlw==;",
            "headers[x_mailer]": "PHPMailer 6.9.3 (https://github.com/PHPMailer/PHPMailer)",
            "headers[x_authuser]": "qicqcpanel@s1128.hostingsecure.com",
            "headers[x_originating_ip]": "45.152.249.3",
            "headers[x_spampanel_domain]": "s1128.hostingsecure.com",
            "headers[x_spampanel_username]": "45.152.249.3",
            "headers[x_spampanel_outgoing_class]": "unsure",
            "headers[x_spampanel_outgoing_evidence]": "Combined (0.15)",
            "headers[x_recommended_action]": "accept",
            "headers[x_filter_id]": "9kzQTOBWQUFZTohSKvQbgI7ZDo5ubYELi59AwcWUnuVzkKdCtcsyq2M+fj6t3NdnVaPuWW65IIT8 lIUNtU+PTCu2SmbhJN1U9FKs8X3+Nt3z3Mo6wt3eUC2hgfo+AdR3GxIKOkJz327+5DwcwXJV9uQz BwKzN5d4G/YOXnATbinXFT0qB5tFv92nRX4mJdp70dn4q9ujobw+dwliUdbbZdMRbk8U+M4+xWY0 brVBk78xci3YNOmVxA+lDJwttT8HLwd2BqQE4S3P+6ug4yoU50lg7IYnrB63BGAXZiaLqMVRJtlu KkL3vxkIVUbpsw44kVWClPVvbW5lVyQanRxw5hTHswbbB/ha+ZWrSAi8Skx5qtCSOqxy7QoQYtAJ mmQiro7NG5FMnAx+YiDY2J/czJYIiHqfCgG4wrA3w4/kQTaLfhXaMgiD0j3v6Ie9X8yymyOtT4jT DjpvgTeQETkl5w7Ge0I4+YIBMAjnBApljUMtuZJzxXq2jBs5Qoi5uXpW31/E3ahF5MMcDI7KdpjQ KRsu5CBgvYfIeC+ZvzQEiueZ3JKVmi72ocgY5kMQSjs72Wq2InZGQXRwgp4DivepygSS2E2cYdtp nl+xxQPqD/lJJYzFH5C1hsD1E2mEoOX72dYfx3w0UOSIPFYT7DxPDVZJsHC9Tt7y0jqGdTSbNfMM Z7rEO0fVnddqDHnlaMNADailzGXSppFZpXQ2jduNVLKKpNoVa6xwOLYQ5QD2wjra/MboweOus4ik 36sza+5X+Mw1I/C60Wonl7fn0pisEVbHjLUQcvD3eVkQig/CEuHvvxBhOcoa0PUdHo+z2nzsHSkH Y/2MFd6HYEGMdr9X3zT1PbJ8KQgHJYjbwF832QVD2otN64dKcApyqwf/mhfm4r2EnpmlZ3duPuUW 5z/KeS4mDAMXDa4HrJyNYMMHCPavHjlHEMb3b5v42Qtm3ALloeeONnxTUeFlKJ6p9/fLZ36m+UeF XprlCOm3BAEbJtAl6Rp7fMZhKjuU8VAP0SVZUjR01TY78C7hE69nuRQgas1c0TvlzHPLoHLMWEV4 2Rj/asDO0V6SUvEY03codo+Q2BCmzuJnqCnnMklxfgdXICCYQbOBJcuj/+3ZCsTVWcq2wcJhBJGB KH+C3bMIR5gK52NdkE04l6pXMaCsq1HocA==",
            "headers[x_report_abuse_to]": "spam@quarantine16.antispamcloud.com",
            "headers[x_complaints_to]": "abuse@master.antispamcloud.com",
            "envelope[to]": "b273b0142dcf25b377b9@cloudmailin.net",
            "envelope[recipients][0]": "b273b0142dcf25b377b9@cloudmailin.net",
            "envelope[from]": "dave+caf_=b273b0142dcf25b377b9=cloudmailin.net@qicq.nl",
            "envelope[helo_domain]": "mail-pl1-f178.google.com",
            "envelope[remote_ip]": "209.85.214.178",
            "envelope[tls]": "true",
            "envelope[tls_cipher]": "TLSv1.3",
            "envelope[md5]": "a66dad558731b0fa4ccb961b635b8eb1",
            "envelope[spf][result]": "pass",
            "envelope[spf][domain]": "qicq.nl"
          },
          "webhookUrl": "https://n8n-u47189.vm.elestio.app/webhook/f3e3a305-5ce3-4970-86b5-b0c26fb129e0",
          "executionMode": "production"
        }
      }
    ],
    "Map fields4": [
      {
        "json": {
          "form": "Proefrit",
          "first_name": "Tommy",
          "last_name": "Oude Elferink",
          "email": "tommy@qicq.nl",
          "mobile": "+31646210631",
          "Details": "Dienst: Stromer ST1\\nOpmerkingen: Test",
          "source_id": 11705431
        }
      }
    ]
  },
  "versionId": "6b4ce206-9e65-41c1-af86-923d06f48f88",
  "triggerCount": 4,
  "tags": [
    {
      "createdAt": "2025-07-18T18:13:03.391Z",
      "updatedAt": "2025-07-18T18:13:03.391Z",
      "id": "9Unu8zOsMe5ug14X",
      "name": "main"
    }
  ],
  "shared": [
    {
      "createdAt": "2025-09-03T21:18:16.417Z",
      "updatedAt": "2025-09-03T21:18:16.417Z",
      "role": "workflow:owner",
      "workflowId": "J8UbSOdoRSgc0fyE",
      "projectId": "rOX3uTf9lsIdiy81",
      "project": {
        "createdAt": "2025-07-17T20:25:11.997Z",
        "updatedAt": "2025-07-17T20:31:24.249Z",
        "id": "rOX3uTf9lsIdiy81",
        "name": "Odette Oostindiën <odette@qicq.nl>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}