workflows/Create Deal in ZD by submitted form and map contact.json
{
  "createdAt": "2025-09-03T21:18:16.417Z",
  "updatedAt": "2025-09-03T22:00:04.214Z",
  "id": "J8UbSOdoRSgc0fyE",
  "name": "Create Deal in ZD by submitted form and map contact",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "c5104dfa-45df-4f15-baf1-0d49d1c7e48d",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -160,
        -80
      ],
      "id": "b0875c88-596b-4044-9da6-cf5708c187ce",
      "name": "Form: Fiets inruil",
      "webhookId": "c5104dfa-45df-4f15-baf1-0d49d1c7e48d"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "a2e6b0bb-af6f-4232-9cc3-e98c9ff29ac3",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -160,
        592
      ],
      "id": "72012076-9280-4af4-b422-670b78e31b25",
      "name": "Form: Proefrit",
      "webhookId": "a2e6b0bb-af6f-4232-9cc3-e98c9ff29ac3"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "54869734-c9f4-4ba8-a617-d41c79cd550b",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -160,
        368
      ],
      "id": "b5febbf0-1c7a-4d66-93e0-22a3308483ed",
      "name": "Form: Lease Calculator",
      "webhookId": "54869734-c9f4-4ba8-a617-d41c79cd550b"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "30ce98ae-aae3-4ad1-a2ee-48b33c6d09c5",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -160,
        144
      ],
      "id": "730bacd9-fd35-47cc-a91c-b52129a601b8",
      "name": "Form: Keuzehulp",
      "webhookId": "30ce98ae-aae3-4ad1-a2ee-48b33c6d09c5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n-01.dev.octionic.com/webhook/c5104dfa-45df-4f15-baf1-0d49d1c7e48d",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body.toJsonString() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        48,
        -80
      ],
      "id": "4fa36c9b-1f5c-47eb-8b80-0dc157aa349f",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n-01.dev.octionic.com/webhook/30ce98ae-aae3-4ad1-a2ee-48b33c6d09c5",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body.toJsonString() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        48,
        144
      ],
      "id": "abc6e9bd-3861-4dd7-a67e-7a8bf2a383e4",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n-01.dev.octionic.com/webhook/54869734-c9f4-4ba8-a617-d41c79cd550b",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body.toJsonString() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        48,
        368
      ],
      "id": "4990118a-91b5-4ab4-9d32-6256ee441925",
      "name": "HTTP Request2"
    }
  ],
  "connections": {
    "Form: Fiets inruil": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form: Keuzehulp": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form: Lease Calculator": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "ucevxHAU6iRAZOr1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Form: Fiets inruil": [
      {
        "json": {
          "headers": {
            "host": "n8n-u47189.vm.elestio.app",
            "x-real-ip": "45.152.249.3",
            "x-forwarded-for": "45.152.249.3",
            "x-forwarded-proto": "https",
            "x-forwarded-port": "443",
            "connection": "close",
            "content-length": "813",
            "user-agent": "WordPress/6.8.2; https://www.qicq.nl",
            "accept": "*/*",
            "accept-encoding": "deflate, gzip",
            "content-type": "application/json"
          },
          "params": {},
          "query": {},
          "body": {
            "1": "Test",
            "3": "info@octionic.com",
            "4": "+491234567890",
            "5": "pedelec",
            "7": "gekocht",
            "8": "fiets",
            "9": "display",
            "14": "kapot",
            "16": "",
            "17": "octionic",
            "id": "1876",
            "form_id": "11",
            "post_id": null,
            "date_created": "2025-08-25 17:57:57",
            "date_updated": "2025-08-25 17:57:57",
            "is_starred": "0",
            "is_read": "0",
            "ip": "87.122.121.207",
            "source_url": "https://www.qicq.nl/elektrische-fiets-inruilen/",
            "user_agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/139.0.0.0 Safari/537.36",
            "currency": "EUR",
            "payment_status": null,
            "payment_date": null,
            "payment_amount": null,
            "payment_method": null,
            "transaction_id": null,
            "is_fulfilled": null,
            "created_by": "30",
            "transaction_type": null,
            "status": "active",
            "source_id": "4915",
            "6.1": "E-bike",
            "12.2": "Nee",
            "11.1": "Ja",
            "6.2": "",
            "12.1": "",
            "11.2": ""
          },
          "webhookUrl": "https://n8n-u47189.vm.elestio.app/webhook/c5104dfa-45df-4f15-baf1-0d49d1c7e48d",
          "executionMode": "production"
        }
      }
    ],
    "Form: Lease Calculator": [
      {
        "json": {
          "headers": {
            "host": "n8n-u47189.vm.elestio.app",
            "x-real-ip": "45.152.249.3",
            "x-forwarded-for": "45.152.249.3",
            "x-forwarded-proto": "https",
            "x-forwarded-port": "443",
            "connection": "close",
            "content-length": "295",
            "accept": "*/*",
            "content-type": "application/json"
          },
          "params": {},
          "query": {},
          "body": {
            "voornaam": "Leon",
            "achternaam": "Lehmler",
            "email": "leon_lehmler@live.nl",
            "telefoon": "",
            "keuze_merk": "Riese & Müller",
            "keuze_model": "4158",
            "keuze_termijn_nice": "36 maanden",
            "keuze_aard": "Particulier",
            "keuze_uitvoering_nice": "Charger4 GT Vario",
            "keuze_aanbetaling": "geen",
            "maandbedrag": "184"
          },
          "webhookUrl": "https://n8n-u47189.vm.elestio.app/webhook/54869734-c9f4-4ba8-a617-d41c79cd550b",
          "executionMode": "production"
        }
      }
    ],
    "Form: Keuzehulp": [
      {
        "json": {
          "headers": {
            "host": "n8n-u47189.vm.elestio.app",
            "x-real-ip": "45.152.249.3",
            "x-forwarded-for": "45.152.249.3",
            "x-forwarded-proto": "https",
            "x-forwarded-port": "443",
            "connection": "close",
            "content-length": "242",
            "accept": "*/*",
            "content-type": "application/json"
          },
          "params": {},
          "query": {},
          "body": {
            "voornaam": "Hans",
            "achternaam": "Eijgenram",
            "email": "hans_eijgenraam@planet.nl",
            "telefoon": "",
            "typefiets": "elektrische-fiets",
            "typemotor": "middenmotor",
            "typeaccu": "500-wh-2",
            "typeaandrijving": "riem",
            "typezithouding": "comfortabele-zithouding"
          },
          "webhookUrl": "https://n8n-u47189.vm.elestio.app/webhook/30ce98ae-aae3-4ad1-a2ee-48b33c6d09c5",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "63527e81-5134-4661-80a7-c155e6db2665",
  "triggerCount": 4,
  "tags": [],
  "shared": [
    {
      "createdAt": "2025-09-03T21:18:16.417Z",
      "updatedAt": "2025-09-03T21:18:16.417Z",
      "role": "workflow:owner",
      "workflowId": "J8UbSOdoRSgc0fyE",
      "projectId": "rOX3uTf9lsIdiy81",
      "project": {
        "createdAt": "2025-07-17T20:25:11.997Z",
        "updatedAt": "2025-07-17T20:31:24.249Z",
        "id": "rOX3uTf9lsIdiy81",
        "name": "Odette Oostindiën <odette@qicq.nl>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}