workflows/Notify about pending orders.json
{
  "updatedAt": "2025-10-25T17:00:06.769Z",
  "createdAt": "2025-10-24T13:36:31.174Z",
  "id": "vInxOMo9wGJ4wbLR",
  "name": "Notify about pending orders",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9,
              "triggerAtMinute": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -624,
        640
      ],
      "id": "046fceab-c4c3-496b-a89c-6baf6bb699e1",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -624,
        192
      ],
      "id": "d195938a-7463-46ed-8da0-4248802fda48",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "content": "Store ids of already notified items in redis list. Delete from redis list, if status changed again",
        "height": 448,
        "width": 448,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -240,
        0
      ],
      "id": "52f4b0df-8198-4791-898c-e97d3e05a09f",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "keys",
        "keyPattern": "notification_pending_order_*"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -400,
        640
      ],
      "id": "aabde703-fc45-443d-912b-926dcba654ba",
      "name": "Search for order id",
      "alwaysOutputData": true,
      "credentials": {
        "redis": {
          "id": "KM9u3JmYZGaWL2Xe",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=notification_pending_order_{{ $json.sales_order_id }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -176,
        288
      ],
      "id": "81afd00d-b8b1-48d8-be5c-06e248c0a48b",
      "name": "Delete order id",
      "credentials": {
        "redis": {
          "id": "KM9u3JmYZGaWL2Xe",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        288,
        640
      ],
      "id": "d8e6e6c3-64da-4606-8057-764f4470db5b",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "fromEmail": "Cyclesoftware meldingen <system@qicq.nl>",
        "toEmail": "={{ $('Search for employee in enrichment table').item.json.Email }}",
        "subject": "Openstaande bestelling",
        "html": "=<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\" />\n</head>\n<body>\n\n    <h1>De volgende bestelling staat nog op 'in behandeling'</h1>\n    \n    <table border=\"0\">\n      <tr>\n        <th style=\"text-align:left; width:120px;\">Bestelling</th>\n        <td><a href=\"https://s01.cyclesoftware.nl/app/cs/bestellingen/detail/{{ $('Loop Over Items').item.json.sales_order_id }}\">{{ $('Loop Over Items').item.json.sales_order_id }}</a></td>\n      </tr>\n      <tr>\n        <th style=\"text-align:left;\">Klant</th>\n        <td><a href=\"https://s01.cyclesoftware.nl/app/cs/customers/{{ $('Loop Over Items').item.json.customer_id }}/details/\">{{ $('Format items').item.json.customer_name }}</a></td>\n      </tr>\n      <tr>\n        <th style=\"text-align:left;\">Status</th>\n        <td>In behandeling</td>\n      </tr>\n      <tr>\n        <th style=\"text-align:left;\">Besteldatum</th>\n        <td>{{ $('Loop Over Items').item.json.datetime_created.toDateTime().toLocal().format('dd-MM-yyyy') }}</td>\n      </tr>\n    </table>\n\n    <p>Deze bestelling staat al enige tijd op 'in behandeling'. Controleer of verdere actie nodig is.</p>\n\n</body>\n</html>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1408,
        544
      ],
      "id": "6b1e6188-0893-448d-ae32-fa6b5a8baef0",
      "name": "Send email",
      "webhookId": "599b7043-50a7-494d-a76a-5094bac4ee2d",
      "credentials": {
        "smtp": {
          "id": "KitgAZtXOjpJzXuW",
          "name": "SMTP Brevo"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "feN1rccqCGZnpawr",
          "mode": "list",
          "cachedResultName": "Ask admin to map missing employee"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "employee_id": "={{ $('When Executed by Another Workflow').item.json.sales_employee_id }}"
          },
          "matchingColumns": [
            "employee_id"
          ],
          "schema": [
            {
              "id": "employee_id",
              "displayName": "employee_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1408,
        752
      ],
      "id": "64e6daaf-0cd8-422a-b058-9155834531f1",
      "name": "Ask admin to map missing employee"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "pvbtn5wpkdg7k83",
        "table": "melmse5ylbfj5j5",
        "limit": 1,
        "options": {
          "where": "=(Employee ID,eq,{{ $('Loop Over Items').item.json.sales_employee_id }})"
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        960,
        640
      ],
      "id": "c4c76e8d-7c06-477b-b3f4-1ea958c31581",
      "name": "Search for employee in enrichment table",
      "alwaysOutputData": true,
      "credentials": {
        "nocoDbApiToken": {
          "id": "CQLSeglcJKiCKe3S",
          "name": "NocoDB Token account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7c165fba-6a65-4193-a725-f533f35332d6",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1168,
        640
      ],
      "id": "baa51d9a-e0e9-45c1-a88f-5cc7e5a97263",
      "name": "If employee found"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=notification_pending_order_{{ $json.sales_order_id }}",
        "value": "={{ $json }}",
        "keyType": "hash"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        48,
        96
      ],
      "id": "8f8be83b-1d68-4592-b0c3-d96371d94150",
      "name": "Store order id",
      "credentials": {
        "redis": {
          "id": "KM9u3JmYZGaWL2Xe",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.cyclesoftware.nl/api/v1/customers/{{ $json.customer_id }}.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Accept-encoding",
              "value": "gzip"
            },
            {
              "name": "Content-type",
              "value": "application/json; charset=utf-8"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        512,
        640
      ],
      "id": "7d5f47ca-6cf9-449b-9579-701e4d8b846c",
      "name": "Cyclesoftware: Get customer by ID",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpBasicAuth": {
          "id": "q6AhamIl37oB4xIX",
          "name": "Cyclesoftware (PROD)"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b024160f-21d0-4c2f-98b8-bfb0d2b8b5f8",
              "name": "customer_name",
              "value": "={{ $json.first_name }} {{ $json.name }}{{ $if($json.company_name.isEmpty(), \"\", \" (\" + $json.company_name + \")\") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        736,
        640
      ],
      "id": "34b86b39-54ba-49ec-940d-a4b012d66b8b",
      "name": "Format items"
    },
    {
      "parameters": {
        "content": "## Get triggered by sync workflow",
        "height": 272,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -688,
        96
      ],
      "typeVersion": 1,
      "id": "25efbb82-e865-46b0-9bbb-e805aa528cc5",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d72fb603-8b53-4ccc-8cc1-dc9e1252fcf1",
              "leftValue": "={{ $json.status_id }}",
              "rightValue": 2,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -400,
        192
      ],
      "id": "186d52cc-3635-4429-82f4-7b8f7a24d8fe",
      "name": "If status pending"
    },
    {
      "parameters": {
        "jsCode": "const input = items[0].json;\nconst values = Object.values(input);\n\nreturn values.map(entry => ({ json: entry }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        640
      ],
      "id": "aad5252f-33ce-4cb2-b3e9-705cdf30eaa2",
      "name": "Convert to list"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "60b8e618-814e-446b-aeb0-732fc8d8a9b0",
              "leftValue": "={{ \n  (() => {\n    const date = new Date($json.datetime_modified);\n    const now = new Date();\n    const start = new Date(date.getFullYear(), date.getMonth(), date.getDate());\n    const end = new Date(now.getFullYear(), now.getMonth(), now.getDate());\n    const diffDays = Math.floor((end - start) / (1000 * 60 * 60 * 24));\n    return diffDays >= 14 && diffDays % 14 === 0;\n  })() \n}}",
              "rightValue": "={{ \n  (() => {\n    const date = new Date($json.date);\n    const now = new Date();\n    const diffDays = Math.floor((now - date) / (1000 * 60 * 60 * 24));\n    return diffDays % 14 === 0;\n  })() \n}}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        64,
        640
      ],
      "id": "34b51d7d-dc22-4c0b-96e8-5825050116ef",
      "name": "Every 14 Days (Min 14)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8adb3cf2-e6c3-415f-a7c0-5c9c37ce2938",
              "name": "sales_order_id",
              "value": "={{ $json.sales_order_id }}",
              "type": "number"
            },
            {
              "id": "7ce06588-606c-4e79-8b89-cce9f6db9537",
              "name": "datetime_modified",
              "value": "={{ $json.datetime_modified  }}",
              "type": "string"
            },
            {
              "id": "da4e61c0-856d-4b9f-94ad-77d68f2202b4",
              "name": "customer_id",
              "value": "={{ $json.customer_id }}",
              "type": "number"
            },
            {
              "id": "f624afb7-5771-41f8-90b6-55f2977e6ea8",
              "name": "sales_employee_id",
              "value": "={{ $json.sales_employee_id }}",
              "type": "number"
            },
            {
              "id": "f6f1b9d8-9cd6-4021-830e-d8bc6d9ae49d",
              "name": "datetime_created",
              "value": "={{ $json.datetime_created }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -176,
        96
      ],
      "id": "638d68b4-bc54-4790-9aa6-6d9a602300b3",
      "name": "Prepare data"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1632,
        752
      ],
      "id": "8e276e76-b4ed-4c15-b6a3-67692da824d7",
      "name": "No Operation, do nothing"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Search for order id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "If status pending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search for order id": {
      "main": [
        [
          {
            "node": "Convert to list",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Cyclesoftware: Get customer by ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send email": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ask admin to map missing employee": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search for employee in enrichment table": {
      "main": [
        [
          {
            "node": "If employee found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If employee found": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ask admin to map missing employee",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cyclesoftware: Get customer by ID": {
      "main": [
        [
          {
            "node": "Format items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format items": {
      "main": [
        [
          {
            "node": "Search for employee in enrichment table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If status pending": {
      "main": [
        [
          {
            "node": "Prepare data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete order id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to list": {
      "main": [
        [
          {
            "node": "Every 14 Days (Min 14)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every 14 Days (Min 14)": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare data": {
      "main": [
        [
          {
            "node": "Store order id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "ucevxHAU6iRAZOr1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "timeSavedPerExecution": 10
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Schedule Trigger": [
      {
        "json": {
          "timestamp": "2025-10-11T21:44:47.827+02:00",
          "Readable date": "October 11th 2025, 9:44:47 pm",
          "Readable time": "9:44:47 pm",
          "Day of week": "Saturday",
          "Year": "2025",
          "Month": "October",
          "Day of month": "11",
          "Hour": "21",
          "Minute": "44",
          "Second": "47",
          "Timezone": "Europe/Berlin (UTC+02:00)"
        }
      }
    ],
    "When Executed by Another Workflow": [
      {
        "json": {
          "account_id": 9324,
          "store_id": 1,
          "sales_order_id": 900060,
          "customer_id": 100023,
          "order_type_id": 0,
          "order_type_text": "Bestelling",
          "order_reference_id": "",
          "order_reference_text": "",
          "datetime_created": "2025-10-01 19:53:16",
          "datetime_modified": "2025-09-27 20:28:22",
          "datetime_preferred_delivery": null,
          "status_id": 2,
          "status_text": "In behandeling",
          "cancellation_type_id": 0,
          "cancellation_description": null,
          "sales_employee_id": 85127,
          "last_update_employee_id": 85127,
          "has_invoice": false,
          "invoice_number": 0,
          "delivery_method_id": 0,
          "delivery_method_description": "Afhalen in winkel",
          "order_item_id": 1,
          "order_item_status": "Geen status",
          "assigned_to_customer_id": 100023,
          "item_type": "Tweewieler",
          "barcode": "4054571462589",
          "object_id": 100042,
          "pos_group_id": 1,
          "quantity": 1,
          "description": "CUBE KATHMANDU HYBRID COMFORT PRO, Men, Night/chrome, 58, 58, 2025",
          "gross_unit_price_in_vat_in_cents": 379900,
          "unit_discount_in_vat_in_cents": 0,
          "nett_line_price_in_vat_in_cents": 379900,
          "vat_amount_cents": 65933,
          "vat_percentage": 21
        }
      },
      {
        "json": {
          "account_id": 9324,
          "store_id": 1,
          "sales_order_id": 900056,
          "customer_id": 100023,
          "order_type_id": 0,
          "order_type_text": "Bestelling",
          "order_reference_id": "",
          "order_reference_text": "",
          "datetime_created": "2025-09-29 20:49:43",
          "datetime_modified": "2025-10-11 20:32:13",
          "datetime_preferred_delivery": null,
          "status_id": 2,
          "status_text": "In behandeling",
          "cancellation_type_id": 0,
          "cancellation_description": null,
          "sales_employee_id": 85127,
          "last_update_employee_id": 85127,
          "has_invoice": false,
          "invoice_number": 0,
          "delivery_method_id": 0,
          "delivery_method_description": "Afhalen in winkel",
          "order_item_id": 1,
          "order_item_status": "Geen status",
          "assigned_to_customer_id": 100023,
          "item_type": "Tweewieler",
          "barcode": "",
          "object_id": 0,
          "pos_group_id": 1,
          "quantity": 1,
          "description": "flap",
          "gross_unit_price_in_vat_in_cents": 1000,
          "unit_discount_in_vat_in_cents": 0,
          "nett_line_price_in_vat_in_cents": 1000,
          "vat_amount_cents": 174,
          "vat_percentage": 21
        }
      }
    ]
  },
  "versionId": "2595ae9e-2a57-464e-9e29-73061a6bc302",
  "activeVersionId": "2595ae9e-2a57-464e-9e29-73061a6bc302",
  "versionCounter": 6,
  "triggerCount": 1,
  "tags": [
    {
      "updatedAt": "2025-07-18T18:06:55.321Z",
      "createdAt": "2025-07-18T18:06:55.321Z",
      "id": "O8Gvscx6k1IxcC6a",
      "name": "sub"
    },
    {
      "updatedAt": "2025-07-18T18:13:03.391Z",
      "createdAt": "2025-07-18T18:13:03.391Z",
      "id": "9Unu8zOsMe5ug14X",
      "name": "main"
    }
  ],
  "shared": [
    {
      "updatedAt": "2025-10-24T13:36:31.174Z",
      "createdAt": "2025-10-24T13:36:31.174Z",
      "role": "workflow:owner",
      "workflowId": "vInxOMo9wGJ4wbLR",
      "projectId": "rOX3uTf9lsIdiy81",
      "project": {
        "updatedAt": "2025-07-17T20:31:24.249Z",
        "createdAt": "2025-07-17T20:25:11.997Z",
        "id": "rOX3uTf9lsIdiy81",
        "name": "Odette Oostindiën <odette@qicq.nl>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}