workflows/Notify about scheduled workshop orders.json
{
  "updatedAt": "2026-01-20T18:08:59.206Z",
  "createdAt": "2025-10-24T13:41:32.144Z",
  "id": "fAmxjL3cflHa53q4",
  "name": "Notify about scheduled workshop orders",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "triggerAtMinute": 3
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -608,
        368
      ],
      "id": "859261cd-a898-4400-a908-15e8442d85c6",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "40b475ce-acf3-40c0-a019-23b313d221f5",
              "name": "current_datetime",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "e0b03e83-01a7-4a4a-8526-d8aac713d664",
              "name": "recipient_email",
              "value": "info@qicq.nl",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -384,
        368
      ],
      "id": "9fcf2027-70d2-4bc4-ba7e-5e1de0dacf11",
      "name": "Globals"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "cs_workshop_orders_last_update",
        "key": "cs_workshop_orders_last_update",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -160,
        368
      ],
      "id": "04339640-76fd-4eb5-8285-66acc797e517",
      "name": "Get last updated timestamp",
      "credentials": {
        "redis": {
          "id": "KM9u3JmYZGaWL2Xe",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.cyclesoftware.nl/api/v1/workshop/orders.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "status_ids",
              "value": "1,2,3,4,5,9,10,11,12,13,14,16,17,18,19,20,21,22,23,24,25,26.27,28,29,30"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Accept-encoding",
              "value": "gzip"
            },
            {
              "name": "Content-type",
              "value": "application/json; charset=utf-8"
            }
          ]
        },
        "options": {
          "pagination": {
            "pagination": {
              "paginationMode": "responseContainsNextURL",
              "nextURL": "={{ $response.body.pagination.next_url }}",
              "paginationCompleteWhen": "other",
              "completeExpression": "={{ $response.body.pagination.next_url == null }}",
              "requestInterval": 3000
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        64,
        368
      ],
      "id": "0418db06-f1ff-43cd-a968-854fc6da5cef",
      "name": "Cyclesoftware: Get workshop orders",
      "retryOnFail": true,
      "alwaysOutputData": false,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpBasicAuth": {
          "id": "q6AhamIl37oB4xIX",
          "name": "Cyclesoftware (PROD)"
        }
      }
    },
    {
      "parameters": {
        "content": "Pagination included",
        "height": 224,
        "width": 192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        16,
        320
      ],
      "typeVersion": 1,
      "id": "36fd4b04-8b0a-4ebc-a97f-d4a8cbd0a4a9",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "url": "https://api.cyclesoftware.nl/api/v1/common/enum.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Accept-encoding",
              "value": "gzip"
            },
            {
              "name": "Content-type",
              "value": "application/json; charset=utf-8"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        64,
        592
      ],
      "id": "66310776-7a05-4403-8105-f8f95912f7ce",
      "name": "Cyclesoftware: Get common values",
      "retryOnFail": false,
      "alwaysOutputData": true,
      "credentials": {
        "httpBasicAuth": {
          "id": "q6AhamIl37oB4xIX",
          "name": "Cyclesoftware (PROD)"
        }
      }
    },
    {
      "parameters": {
        "content": "## Set Status IDs\n\nExecute the node below and search within the result for the IDs within the key workshop_order_status\nCreate a csv list of those and exclude the IDs for statuses named \"wait for invoicing\", \"repair completed\", \"completed\", \"cancelled\".\nIt does not hurt to ad a few more continuing numbers at the end to be future proof.",
        "height": 784,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "cce9678f-c27d-453d-8fbf-8b8bbf0ed2a9",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data[0]",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        288,
        368
      ],
      "id": "7aeb4b93-50f7-4db3-aa04-efbc284cac87",
      "name": "Split Out"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "926d5d79-94a9-4e27-a579-11e793c3d28b",
              "leftValue": "={{ $json.datetime_modified.toDateTime() }}",
              "rightValue": "={{ $('Get last updated timestamp').item.json.cs_workshop_orders_last_update != null ? $('Get last updated timestamp').item.json.cs_workshop_orders_last_update.toDateTime() : $now }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        512,
        368
      ],
      "id": "9d02ce31-f6b1-491f-bdbb-fdec6fb3c20a",
      "name": "Only keep recently modified items"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1408,
        368
      ],
      "id": "61d04e1e-de89-4642-8380-ef57d9ddf897",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "url": "=https://api.cyclesoftware.nl/api/v1/customers/{{ $('Split Out').item.json.customer_id }}.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Accept-encoding",
              "value": "gzip"
            },
            {
              "name": "Content-type",
              "value": "application/json; charset=utf-8"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1632,
        368
      ],
      "id": "7ab8f993-3e38-458b-970e-4f2323bd9be9",
      "name": "Cyclesoftware: Get customer by ID",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpBasicAuth": {
          "id": "q6AhamIl37oB4xIX",
          "name": "Cyclesoftware (PROD)"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b024160f-21d0-4c2f-98b8-bfb0d2b8b5f8",
              "name": "customer_name",
              "value": "={{ $json.first_name }} {{ $json.name }}{{ $if($json.company_name.isEmpty(), \"\", \" (\" + $json.company_name + \")\") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1856,
        368
      ],
      "id": "59350950-8691-4c9b-852f-72754445a3eb",
      "name": "Format items"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "60b8e618-814e-446b-aeb0-732fc8d8a9b0",
              "leftValue": "={{ $json.datetime_scheduled }}",
              "rightValue": "={{ $('Split Out').item.json.datetime_scheduled_start }}",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1184,
        368
      ],
      "id": "2c8f370f-565d-446f-89e4-475f3298ca27",
      "name": "If scheduled date has changed"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=notification_scheduled_workshop_order_{{ $('Split Out').item.json.workshop_order_id }}",
        "value": "={{ $('Split Out').item.json.datetime_scheduled_start }}",
        "expire": true,
        "ttl": 7884000
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2304,
        368
      ],
      "id": "96bf851f-9088-479e-b090-fc87e1d29234",
      "name": "Store workshop order id",
      "credentials": {
        "redis": {
          "id": "KM9u3JmYZGaWL2Xe",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "datetime_scheduled",
        "key": "=notification_scheduled_workshop_order_{{ $json.sales_order_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        960,
        368
      ],
      "id": "0ec9acd0-4e7a-4211-82d8-6547d998c36d",
      "name": "Search for workshop order id",
      "alwaysOutputData": true,
      "credentials": {
        "redis": {
          "id": "KM9u3JmYZGaWL2Xe",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Set Globals\nSet to info@qicq.com",
        "height": 272,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -448,
        256
      ],
      "typeVersion": 1,
      "id": "c08c816e-7476-4cae-952c-19763594b563",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "cs_workshop_orders_last_update",
        "value": "={{ $('Globals').first().json.current_datetime }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        512,
        160
      ],
      "id": "67e422c5-1bf9-422a-aeca-d3bc2c243936",
      "name": "Update last updated timestamp",
      "executeOnce": true,
      "credentials": {
        "redis": {
          "id": "KM9u3JmYZGaWL2Xe",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Globals').first().json.recipient_email }}",
        "subject": "Geplande workshop bestelling",
        "message": "=<!DOCTYPE html>\n\n<html>\n<head>\n  <meta charset=\"UTF-8\" />\n</head>\n<body>\n\n    <h1>In de volgende workshopvolgorde is de geplande datum gewijzigd</h1>\n    \n    <table border=\"0\">\n      <tr>\n        <th style=\"text-align:left; width:120px;\">Workshopvolgorde</th>\n        <td><a href=\"https://s01.cyclesoftware.nl/app/cs/bestellingen/detail/{{ $('Split Out').item.json.workshop_order_id }}\">{{ $('Split Out').item.json.workshop_order_id }}</a></td>\n      </tr>\n      <tr>\n        <th style=\"text-align:left;\">Klant</th>\n        <td><a href=\"https://s01.cyclesoftware.nl/app/cs/customers/{{ $('Split Out').item.json.customer_id }}/details/\">{{ $('Format items').item.json.customer_name }}</a></td>\n      </tr>\n      <tr>\n        <th style=\"text-align:left;\">Gepland voor</th>\n        <td>{{ $('Split Out').item.json.datetime_scheduled_start.toDateTime().format('dd-MM-yyyy HH:mm') }}</td>\n      </tr>\n    </table>\n\n</body>\n</html>",
        "options": {
          "appendAttribution": false,
          "senderName": "Cyclesoftware meldingen"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2080,
        368
      ],
      "id": "5f88080a-9657-460e-bde8-b24490e46b9e",
      "name": "Send a message",
      "webhookId": "245913d0-04a0-4c31-9a10-ee7235ccc2be",
      "credentials": {
        "gmailOAuth2": {
          "id": "HAMBcmI32E85nCRs",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "bea88e1b-31bb-4c61-813b-558960ff702b",
              "leftValue": "={{ $json.sales_order_id }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "9f322338-98e6-416e-92f9-c58fb4310121",
              "leftValue": "={{ $json.order_items.some(item => item.pos_group_id === 1) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        736,
        368
      ],
      "id": "ab056fd8-776f-42d3-9358-c1bf0847e6d1",
      "name": "Only when linked to a sales orders with a bike"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Globals": {
      "main": [
        [
          {
            "node": "Get last updated timestamp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get last updated timestamp": {
      "main": [
        [
          {
            "node": "Cyclesoftware: Get workshop orders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cyclesoftware: Get workshop orders": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Only keep recently modified items",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update last updated timestamp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Only keep recently modified items": {
      "main": [
        [
          {
            "node": "Only when linked to a sales orders with a bike",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Cyclesoftware: Get customer by ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cyclesoftware: Get customer by ID": {
      "main": [
        [
          {
            "node": "Format items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format items": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If scheduled date has changed": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store workshop order id": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search for workshop order id": {
      "main": [
        [
          {
            "node": "If scheduled date has changed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Store workshop order id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Only when linked to a sales orders with a bike": {
      "main": [
        [
          {
            "node": "Search for workshop order id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "ucevxHAU6iRAZOr1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "timeSavedPerExecution": 3
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Schedule Trigger": [
      {
        "json": {
          "timestamp": "2026-01-20T12:03:33.007+01:00",
          "Readable date": "January 20th 2026, 12:03:33 pm",
          "Readable time": "12:03:33 pm",
          "Day of week": "Tuesday",
          "Year": "2026",
          "Month": "January",
          "Day of month": "20",
          "Hour": "12",
          "Minute": "03",
          "Second": "33",
          "Timezone": "Europe/Amsterdam (UTC+01:00)"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "d3b3824c-146b-4c8c-92c8-4fd4a1dcfe43",
  "activeVersionId": "d3b3824c-146b-4c8c-92c8-4fd4a1dcfe43",
  "versionCounter": 27,
  "triggerCount": 1,
  "tags": [
    {
      "updatedAt": "2025-07-18T18:13:03.391Z",
      "createdAt": "2025-07-18T18:13:03.391Z",
      "id": "9Unu8zOsMe5ug14X",
      "name": "main"
    }
  ],
  "shared": [
    {
      "updatedAt": "2025-10-24T13:41:32.144Z",
      "createdAt": "2025-10-24T13:41:32.144Z",
      "role": "workflow:owner",
      "workflowId": "fAmxjL3cflHa53q4",
      "projectId": "rOX3uTf9lsIdiy81",
      "project": {
        "updatedAt": "2025-07-17T20:31:24.249Z",
        "createdAt": "2025-07-17T20:25:11.997Z",
        "id": "rOX3uTf9lsIdiy81",
        "name": "Odette Oostindiën <odette@qicq.nl>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}